###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set LF line endings.
###############################################################################
*.sh text eol=lf
*.fsx text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.tpl text eol=lf
*.txt text eol=lf
